/* * { float: none; } */
body { background: none; }
.listTable { width: auto; }
.listTable th, .listTable td { border-right: 1px solid #000000; border-bottom: 1px solid #000000; }	

/*input, textarea, select { border: 1px solid #FFFFFF; background: #FFFFFF; }*/

.printHidden { display: none; visibility: hidden; }

.factSheetFSLeft { float: left; border-color: #FFFFFF; }
.factSheetFSRght { float: left; border-color: #FFFFFF; }