.open_job_board tfoot a{position: relative; top: 5px;}
 .red_button_smaller
{
     background-image: url(../images/styles/red_button_150.png);
    width: 150px!important;
    height: 42px!important;
    font-weight: bold!important;
    background-position:center top; 
}
    .red_button_smaller:hover
{
     background-image: url(../images/styles/red_button_150.png);
    font-weight: normal!important;
    background-position:center -42px; 
        width: 150px!important;
    height: 42px!important;
}
    .red_button_smaller span
    {
        font-weight: bold!important;
        top:9px!important;
        left:0px;
    }
.filter_table_main_obj{}
.filter_table_header{
    -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.generic_form_table tr .filter_inputs input[type="text"]
{
    vertical-align: top;
      padding: 5px;
    height: 17px;
}
.inside_euro
{
    bottom: 3px;
}
.generic_form_table tr .filter_inputs select
{
      padding: 5px;
    height: 30px; 
  
}
.white_checkbox input {
display: inline-block; margin-right: 10px;
}
.white_checkbox input:checked + span {
display:none;
}
.white_checkbox span 
{
    display:none;
}

.filter_table_main_obj .filter_table_checkbox span,.filter_table_object_wrapper ul li .filter_table_checkbox span,.filter_button_section .cgu_section span {
display:none;
}
.filter_table_object_wrapper ul li .filter_table_checkbox input, .filter_table_main_obj .filter_table_checkbox input, .filter_button_section .cgu_section input {
display: inline-block;
vertical-align: top;
position:relative; top:3px;
}
.generic_form_table tr .filter_inputs input[type="text"], .generic_form_table tr .filter_inputs input[type="password"], .generic_form_table tr .filter_inputs select, .generic_form_table tr .filter_inputs textarea, .generic_form_table tr .filter_inputs input[type="file"] {
    width: 90%;
}
.generic_form_table tr .filter_inputs select
{
    width: 93%;
}
.require_field
{
    color: #D55642!important;
    font-weight: bold;
    position: relative;
    top: 8px;
    font-size: 16px;
}
select+.require_field
{

    bottom: 7px;
    top: inherit;
}
textarea+.require_field
{
    top: 7px;
}

#login_name, #login_pwd { padding-top: 10px; }
#menu_right { float:right; }
#login_bar_right { display:inline; }
.ie8_floatRight { float:right;}